



{% extends 'base.html' %}

{% load static %}

{% block contenido %}


            <div>
                <div class="row d-flex justify-content-center" style="background-color: #0E2C40">
                    <h1 class="d-flex-align-text-center text-center text-white fw-bold">BIBLIOTECA</h1><br><br><br>
                </div>
            <article>
                <section id="gallery" class="container">
                    <article>
                        <div id="magazine-title">
                            <h4>FOTOS</h4>
                            <div class="title-line2"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <img src="/images/293759064_579620940330099_338006216071876898_n.jpg" alt="">
                            </div>
                            
                        </div>
                    </article>
                    <article>
                        <div class="title-container">
                            <div id="magazine-title">
                                <h4>REVISTAS</h4>
                            </div>
                            <div class="title-line2"></div>
                        </div>
                        <div id="cards-container">
                            <div class="cards">
                                <img class="cards-images" src="images/n6.png" alt="">
                                <div class="cards-description">
                                    <h4><b>Memoria Cultural Edicion N°6</b></h4>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur 
                                        adipisicing elit. Dolore earum quibusdam aspernatur 
                                        beatae nemo tenetur officiis, sunt sit enim maiores 
                                        fugiat optio, eligendi molestiae libero.
                                    </p>
                                </div>
                                <div class="cards-links a">
                                    <a href="https://issuu.com/fmnp/docs/memorias_cultural-_ed_6_junio-julio_22">Ver más</a>
                                </div>
                            </div>
                           
                            </div>
                        </div> 
                    </article>
                </section>
            
            {% endblock %}