<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Eventos</title>
        <link rel="shortcut icon" href="/images/favicon/apple-icon-152x152.png" type="image/x-icon">
        <meta name="description" content="Fundación Memorias de Nuestro Pueblo"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
        crossorigin="anonymous">
        <link rel="stylesheet" href="/images/logo.jpeg">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid ">
                    <a class="navbar-brand" href="#"><img class="d-flex align-items-start"src="/images/logo1.png"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav nav col-12 col-md-auto mb-2 justify-content-end mb-md-0">
                            <li class="nav-item">
                                <a class="nav-link active px-3 link-dark fw-bolder" aria-current="page" href="#">INICIO</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-3 link-dark fw-bolder" href="#">NOSOTROS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-3 link-dark fw-bolder" href=#"{% url 'eventos'%}">EVENTOS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-3 link-dark fw-bolder" href="#">NOTICIAS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  link-dark fw-bolder" href="#">BIBLIOTECA</a>
                            </li>
                        </ul>
                    </div>
                    <div  class="dropdown">
                        <div class="flex-shrink-0 dropdown">
                            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                </svg>
                            </a>
                            <ul class="dropdown-menu text-small shadow">
                                <li><a class="dropdown-item" href="#">Iniciar Sesión</a></li>
                                <li><a class="dropdown-item" href="#">Registrarse</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Salir</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div>
                <div class="row d-flex justify-content-around" style="background-color: #0E2C40">
                    <h1 class="align-text-center text-center text-white fw-bold">EVENTOS</h1><br><br><br>
                </div> 
            </div>
            <section class="container">
    
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card h-100">
                  <img src="" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                <div class="card h-100">
                    <img src="" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                    <img src="" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                    <img src="" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            </div>
            <hr>
    


          <hr>
              <h1 style="text-align: center ;">Maps para realizar busqueda</h1>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4273.02978242071!2d-59.03443341417192!3d-27.417511069137372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450b028a30bf01%3A0x8cc0b1c2a708a8de!2sFundaci%C3%B3n%20Memorias%20de%20Nuestro%20Pueblo!5e0!3m2!1ses!2sar!4v1660906734215!5m2!1ses!2sar"  width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <hr>
        

            </section>
        </main>
        <footer>
            <div class="container-fluid">
                <div class="row text-black p-5 d-flex justify-content-around" style="background-color:#E8ECEE">
                    <div class="col-xs-12 col-md-6 col-lg-3 text-start"><p class="h6 fw-bolder">Datos de Contacto</p>
                        <ul class="d-flex flex-column mb-3 ">
                            <il class="mb-3"><img  class="img-fluid" src="/images/llamada.png" width="5%"alt= "icono llamada">   +54 9 362 439-5069</il>
                            <il class="mb-3"><img class="img-fluid" src="/images/email.png" width="5%" alt= "icono email">   fundacionmemorias@gmail.com</il>  
                            <il class="mb-3"><img class="img-fluid" src="/images/marcador-de-posicion.png" width="5%"alt= "icono ubicacion">   Mz 28 Pc 9 20 viviendas SITECH 3514 Fontana, Chaco, Argentina</il>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3"><img class="img-fluid"src="/images/logo3.png" alt="logo de la fundacion" >
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3 text-center"><p class="h6 fw-bolder">Seguínos en Nuestras Redes</p>
                        <div class="d-flex justify-content-center">
                            <a href="https://www.facebook.com/fundacionmemorias/" target="_blank"><img class="img-fluid"loading="lazy" alt="Sígueme en Facebook" height="45" width="45" src="/images/facebook-icono.png" title="Sígueme en Facebook"/></a>
                            <a href="https://www.instagram.com/fundacionmemoriasfontana/" target="_blank"><img class="img-fluid" loading="lazy" alt="Sígueme en Instagram" height="45" width="45" src="/images/Instagram-icono.png" title="Sígueme en Instagram"/></a>  
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row text-dark p-5 d-flex justify-content-around" style="background-color: #0E2C40">
                            <p class="text-center text-muted">&copy; 2022 Todos los derechos reservados. Desarrolladores: Marcel Vidarte/Javier Perón/Gastón Peréz/ Carolina Sánchez</p>
                    </div>
                </div>
            </div>
        </footer>
            <script src="https://kit.fontawesome.com/57fa6a17d2.js" crossorigin="anonymous"></script>
            <script 
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
                crossorigin="anonymous">
                </script>
            <script 
                src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
                integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
                crossorigin="anonymous">
            </script>
            <script 
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" 
                integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
                crossorigin="anonymous">
            </script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>