<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Noticias</title>
        <link rel="shortcut icon" href="/images/favicon/apple-icon-152x152.png" type="image/x-icon">
        <meta name="description" content="Fundación Memorias de Nuestro Pueblo"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
        crossorigin="anonymous">
        <link rel="stylesheet" href="/images/logo.jpeg">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid ">
                    <a class="navbar-brand" href="#"><img class="d-flex align-items-start"src="/images/logo1.png"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav nav col-12 col-md-auto mb-2 justify-content-end mb-md-0">
                            <li class="nav-item">
                                <a class="nav-link active px-3 link-dark fw-bolder" aria-current="page" href="#">INICIO</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-3 link-dark fw-bolder" href="#">NOSOTROS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-3 link-dark fw-bolder" href="#">EVENTOS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-3 link-dark fw-bolder" href="#">NOTICIAS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  link-dark fw-bolder" href="#">BIBLIOTECA</a>
                            </li>
                        </ul>
                    </div>
                    <div  class="dropdown">
                        <div class="flex-shrink-0 dropdown">
                            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                </svg>
                            </a>
                            <ul class="dropdown-menu text-small shadow">
                                <li><a class="dropdown-item" href="#">Iniciar Sesión</a></li>
                                <li><a class="dropdown-item" href="#">Registrarse</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Salir</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div>
                <div class="row d-flex justify-content-around" style="background-color: #0E2C40">
                    <h1 class="align-text-center text-center text-white fw-bold">NOTICIAS</h1><br><br><br>
                </div> 
            </div>
            <section class="container">
                <br>
                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
                    </div>
                    <div class="col-md-5">
                        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

                    </div>
                </div>

                    <hr class="featurette-divider">

                    <!-- si no funciona o no sirve eliminar de aca para abajo -->

                    <div class="row featurette">
                        <div class="col-md-7 order-md-2">
                            <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
                            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
                        </div>
                        <div class="col-md-5 order-md-1">
                            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

                        </div>
                    </div>

                    <hr class="featurette-divider">

                    <div class="row featurette">
                        <div class="col-md-7">
                            <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                            <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
                        </div>
                        <div class="col-md-5">
                            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

                        </div>
                    </div>

                    <hr class="featurette-divider">
                <!-- si no funciona o no sirve eliminar de aca para arriba -->
                </section>
        </main>
        <footer>
            <div class="container-fluid">
                <div class="row text-black p-5 d-flex justify-content-around" style="background-color:#E8ECEE">
                    <div class="col-xs-12 col-md-6 col-lg-3 text-start"><p class="h6 fw-bolder">Datos de Contacto</p>
                        <ul class="d-flex flex-column mb-3 ">
                            <il class="mb-3"><img  class="img-fluid" src="/images/llamada.png" width="5%"alt= "icono llamada">   +54 9 362 439-5069</il>
                            <il class="mb-3"><img class="img-fluid" src="/images/email.png" width="5%" alt= "icono email">   fundacionmemorias@gmail.com</il>  
                            <il class="mb-3"><img class="img-fluid" src="/images/marcador-de-posicion.png" width="5%"alt= "icono ubicacion">   Mz 28 Pc 9 20 viviendas SITECH 3514 Fontana, Chaco, Argentina</il>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3"><img class="img-fluid"src="/images/logo3.png" alt="logo de la fundacion" >
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3 text-center"><p class="h6 fw-bolder">Seguínos en Nuestras Redes</p>
                        <div class="d-flex justify-content-center">
                            <a href="https://www.facebook.com/fundacionmemorias/" target="_blank"><img class="img-fluid"loading="lazy" alt="Sígueme en Facebook" height="45" width="45" src="/images/facebook-icono.png" title="Sígueme en Facebook"/></a>
                            <a href="https://www.instagram.com/fundacionmemoriasfontana/" target="_blank"><img class="img-fluid" loading="lazy" alt="Sígueme en Instagram" height="45" width="45" src="/images/Instagram-icono.png" title="Sígueme en Instagram"/></a>  
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row text-dark p-5 d-flex justify-content-around" style="background-color: #0E2C40">
                            <p class="text-center text-muted">&copy; 2022 Todos los derechos reservados. Desarrolladores: Marcel Vidarte/Javier Perón/Gastón Peréz/ Carolina Sánchez</p>
                    </div>
                </div>
            </div>
        </footer>
            <script src="https://kit.fontawesome.com/57fa6a17d2.js" crossorigin="anonymous"></script>
            <script 
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
                crossorigin="anonymous">
                </script>
            <script 
                src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
                integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
                crossorigin="anonymous">
            </script>
            <script 
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" 
                integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
                crossorigin="anonymous">
            </script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>