{% extends 'base.html' %}
{%load static%}
{%block contenido%}
        <main>
            <div>
                <div class="row d-flex justify-content-around" style="background-color: #0E2C40">
                    <h1 class="align-text-center text-center text-white fw-bold">EVENTOS</h1><br><br><br>
                </div> 
            </div>
            <section class="container">
    
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
           


        

            </section>
        </main>
        
    {% endblock %}