{% extends 'base.html' %}

{% load static %}

{% block contenido %}

  <div class="row d-flex justify-content-around" style="background-color: #0E2C40">
                    <h1 class="align-text-center text-center text-white fw-bold">EVENTOS</h1><br><br><br>
                </div> 
                <br>


<main class="container">
<br>
<div class="table-responsive d-flex justify-content-between">
<table  class="table container-fluid border border-5 bg-light rounded-3">
                                    <thead class= "Noticia">
                                
                                        <tr>
                                        {% for evento  in eventos  %}
                                            <th scope="col">
                                                <div class="d-flex-justify-content-between w-100-px-px p-3">
                                                
                                                    <div class="Card-img " style= "width:50rem">
                                            <img class="img-container card-img-top" src="{{MEDIA_URL}}/{{ evento.img }}">
                                                    </div> 
                                                </div>
                                            </th>

                                            <th scope="col">
                                            <h1 class="Titulo">{{ evento.name}}</h1>
                                                <div class="d-flex-justify-content-between w-100-px-px p-3">
                                                
                                                                                <div class="GenericoPlantilla-text">
                                            <br>
                                                <aside><p> {{evento.detalles}}</p></aside>
                                                <h6>Lugar: {{ evento.lugar}}</h6>
                                                <h6>Fecha: {{ evento.dia }}</h6>
                                                <h6>Modalidad: {{ evento.modalidad }}</h6>
                                            </div>
                                                                                </div>
                                                                                
                                                                            </th>

                                                                            </tr>
                                                                            
                                                                            </thead>
                                                                            
                                                                            {%endfor %}
                                                                           
                                                                            
                                                                            
                                                                            </table>
                                                                            </div>
                                                                          
                                                                      
                                                                           
                                                                            
                                    
                                                                            </main>
                                                                            

                                        {% endblock %}