{% extends 'base.html' %}

{% load static %}

{% block contenido %}
<section>
  <article class="Noticia">
    <h1 class="Titulo">{{ noticia.titulo }}</h1>
    <div class="Contexto">
      <div class="GenericoPlantilla">
        <div class="GenericoPlantilla-img">
          <div class="Card-Events-img">
            <img src="{{MEDIA_URL}}/{{noticia.img}}" alt="{{ noticia.nombre }}">
          </div>
          <div>
            <h6>Creado: {{ noticia.creado }}</h6>
            <h6>Autor: {{ noticia.autor_id }}</h6>
          </div>
        </div>
        <div class="GenericoPlantilla-text">
          <p> {{noticia.contenido}}</p>
        </div>
      </div>
    </div>
  </article>
  <article class="Comentarios">
    {% for comentario in comentarios %}
    <div class="Comentario">
      <p class="comentario-header">{{ comentario.autor}}<span class="Fecha"> {{ comentario.creado}}</span></p>
      <p>{{ comentario.cuerpo_comentario}}</p>
    </div>
    {% endfor %}
    {% if user.is_authenticated %}
    <form method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <button type="submit" class="btn_comentar">
        Comentar
      </button>
    </form>
    {% else %}
    <div class="Comentario">
      <p>
        <a href="/login" class="Titulo">Inicia sesion para comentar</a>
      </p>
    </div>
  </article>
  {% endif %}
</section>

{% endblock %}