<!doctype html>

{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Fundación Memorias de Nuestro Pueblo</title>
        <link rel="shortcut icon" href="images/favicon/apple-icon-152x152.png" type="image/x-icon">
        <meta name="description" content="Fundación Memorias de Nuestro Pueblo"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
        crossorigin="anonymous">
        
        <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
    

    </head>

    <body>
        <header  class="bg-light">

            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid ">
                    <a class="navbar-brand" href="{%url 'inicio'%}"><img class="d-flex align-items-start"src="{% static 'images/logo1.png' %}"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav nav col-12 col-md-auto mb-2 justify-content-end mb-md-0">
                            <li class="nav-item">
                                <a class="nav-link active px-3 link-dark fw-bolder" aria-current="page" href="{% url 'inicio'%}">INICIO</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-3 link-dark fw-bolder" href="{% url 'nosotros'%}">NOSOTROS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-3 link-dark fw-bolder" href="{% url 'eventos' %}">EVENTOS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-3 link-dark fw-bolder" href="{% url 'noticias'%}">NOTICIAS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  link-dark fw-bolder" href="{% url 'galeria'%}">BIBLIOTECA</a>
                            </li>
                        </ul>

                        {% if user.is_authenticated %}
                <div class="d-flex" style="margin-left: 50%; justify-content: end">
                    <h5>Hola {{ user.username }}</h5>
                </div>
                <div class="d-flex " style="margin-left: 2%; justify-content: end">
                    <a class="btn" style="background-color: #1CC8A0 " href="{%url 'apps.login_app:logout'%}">Cerrar Sesión</a>
                </div>
            {% else %}
            
                <div  class="d-flex responsive btn-responsive" style="margin-left: 50%; justify-content: end">
                <a class="btn fw-bolder" style="background-color: #1CC8A0 " href="{%url 'apps.login_app:login'%}"> Iniciar Sesión</a>
                </div>
                <div class="d-flex" style="margin-left: 2%;">
                <a class="btn fw-bolder" style="background-color: #1CC8A0" href="{%url 'apps.login_app:register'%}">Registrarse</a>
             
                </div>
                 
            {% endif %}
                    </div>
                   
            
                          <!--  </a>
                            <div class="btn-group dropstart">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Ingresar
                                </button>
                                <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{%url 'apps.login_app:login'%}">Iniciar Sesión</a></li>
                            <li><a class="dropdown-item" href="{%url 'apps.login_app:register'%}">Registrarse</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{%url 'apps.login_app:logout'%}">Salir</a></li>
                                </ul>
                            </div>-->
                        
                        </div>
                    </div>
                </div>
             <hr>
            </nav>
            

            
           
        </header>
       
       
        
        <main>

        {% block contenido %}

        {% endblock  %}
            
            
        </main>
        <footer>
            <div class="container-fluid">
                <div class="row text-black p-5 d-flex justify-content-around" style="background-color:#E8ECEE">
                    <div class="col-xs-12 col-md-6 col-lg-3 text-start"><p class="h6 fw-bolder">Datos de Contacto</p>
                        <ul class="d-flex flex-column mb-3 ">
                            <il class="mb-3"><img  class="img-fluid" src="{% static '/images/llamada.png' %}" width="5%"alt= "icono llamada">   +54 9 362 439-5069</il>
                            <il class="mb-3"><img class="img-fluid" src="{%static '/images/email.png' %}" width="5%" alt= "icono email">   fundacionmemorias@gmail.com</il>  
                            <il class="mb-3"><img class="img-fluid" src="{% static '/images/marcador-de-posicion.png' %}" width="5%"alt= "icono ubicacion">   Mz 28 Pc 9 20 viviendas SITECH 3514 Fontana, Chaco</il>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3"><img class="img-fluid"src="{% static '/images/logo3.png' %}" alt="logo de la fundacion" >
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3 text-center"><p class="h6 fw-bolder">Seguínos en Nuestras Redes</p>
                        <div class="d-flex justify-content-center">
                            <a href="https://www.facebook.com/fundacionmemorias/" target="_blank"><img class="img-fluid"loading="lazy" alt="Sígueme en Facebook" height="45" width="45" src="{% static '/images/facebook-icono.png' %}" title="Sígueme en Facebook"/></a>
                            <a href="https://www.instagram.com/fundacionmemoriasfontana/" target="_blank"><img class="img-fluid" loading="lazy" alt="Sígueme en Instagram" height="45" width="45" src="{% static '/images/Instagram-icono.png' %}" title="Sígueme en Instagram"/></a>  
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row text-dark p-5 d-flex justify-content-around" style="background-color: #0E2C40">
                            <p class="text-center text-muted">&copy; 2022 Todos los derechos reservados. Desarrolladores: Marcel Vidarte - Javier Perón - Gastón Peréz - Carolina Sánchez</p>
                    </div>
                </div>
            </div>
        </footer>
            <script src="https://kit.fontawesome.com/57fa6a17d2.js" crossorigin="anonymous"></script>
            <script 
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
                crossorigin="anonymous">
                </script>
            <script 
                src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
                integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
                crossorigin="anonymous">
            </script>
            <script 
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" 
                integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
                crossorigin="anonymous">
            </script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>

