{% extends 'base.html' %}
{%load static%}
{%block contenido%}
        <main>
            <div>
                <div class="row d-flex justify-content-around" style="background-color: #0E2C40">
                    <h1 class="align-text-center text-center text-white fw-bold">NOSOTROS</h1><br><br><br>
                </div> 
            </div>
            <section class="container">
                <article > <!-- quienes-somos-->
                    <div class="container-fluid">
                        <h2 id="quienes-somos"class="fw-bold text-center lh-base font-family-Assistant">¿Quiénes Sómos?</h2><br>
                        <p class="fs-5 fw-semibold lh-base font-family-Assistant text-start" style="color:#00030c">
                        Memorias de Nuestro Pueblo Fontana es una Fundación que nació en el año 2019
                        (Resolución N°175 0103/2019 Personería Jurídica y Registro Público de Comercio Mat. N°928)<br>
                        pero nuestros antecedentes datan desde el año 2006, cuando nos conformamos como Asociación Civil desde 2010 a 2019.<br>
                    Nuestra impronta es Defender la identidad de Nuestro Pueblo,teniendo como objetivos principales Identificar,
                    Valorar, Rescatar, Proteger y Difundir el Patrimonio Cultural, Natural e Histórico de Fontana.<br>
                    Fontana es una ciudad que cambió su estructura original debido a el permanente ingreso de nuevos habitantes
                    hace que mucha gente no conozca sus orígenes.<br>
                    Por ello, consideramos importante demostrar que el pueblo tiene un pasado muy rico, y que éste se conforma de una diversidad Étnica y Cultural.<br> </p>
                    </div>
                    <br><br><!--NUESTRO EQUIPO-->
                    <div class="table container-fluid">
                        <h4 id="nuestro-equipo"class="fw-bolder lh-base font-family-Assistant text-center" style="color: #00030c">Nuestro Equipo</h4><br>
                            <div class="table-responsive d-flex justify-content-between">
                                <table  class="table container-fluid">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                <div class="d-flex-justify-content-between w-100-px-px p-3">
                                                    <figure>
                                                        <img class="figure-img img-fluid" src="{% static '/images/presidente_coco.png' %}" alt="Foto Ricardo Sosa">
                                                        <figcaption class="figure-caption fs-5 fw-bolder lh-1 font-family-Assistant text-center" style="color: #00030c"> Ricardo Sosa</figcaption>
                                                    </figure>    
                                                </div>
                                            </th>
                                            <th scope="col">
                                                <div class="d-flex-justify-content-between h-100w-100-px-px w-100-px p-3">
                                                    <figure>
                                                        <img class="figure-img img-fluid "src="{% static '/images/Giselle_Monzon.png' %}"alt="Foto Giselle_Monzon">
                                                        <figcaption class="figure-caption fs-5 fw-bolder lh-1 font-family-Assistant text-center"style="color: #00030c">Giselle Monzón</figcaption>
                                                    </figure>    
                                                </div>
                                            </th>
                                            <th scope="col">
                                                <div class="d-flex-justify-content-between h-100w-100-px-px w-100-px p-3">
                                                    <figure>
                                                        <img class="figure-img img-fluid"src="{% static '/images/marcela_lopez.png' %}"alt="Foto Marcela_lopez">
                                                        <figcaption class="figure-caption fs-5 fw-bolder lh-1 font-family-Assistant text-center" style="color: #00030c"> Marcela López</figcaption>
                                                    </figure>
                                                </div>
                                            </th>
                                            <th scope="col">
                                                <div class="d-flex-justify-content-between h-100w-100-px-px w-100-px p-3">
                                                    <figure>
                                                        <img class="figure-img img-fluid"src="{% static '/images/Sandra_Garcia.png' %}" alt="Foto Sandra_Garcia">
                                                        <figcaption class="figure-caption fs-5 fw-bolder lh-1 font-family-Assistant text-center" style="color: #00030c"> Sandra García</figcaption>
                                                    </figure>   
                                                </div>
                                            </th>
                                            <th scope="col">
                                                <div class="d-flex-justify-content-between h-100w-100-px-px w-100-px p-3">
                                                    <figure>
                                                        <img class=" figure-img img-fluid" src="{% static '/images/Mirta_Gomez.png' %}"alt="Foto Mirta_Gomez">
                                                        <figcaption class="figure-caption fs-5 fw-bolder lh-1 font-family-Assistant text-center" style="color: #00030c"> Mirtha Gómez</figcaption>
                                                    </figure>    
                                                </div>
                                            </th>
                                            <th scope="col">
                                                <div class="d-flex-justify-content-between h-100w-100-px-px w-100-px p-3">
                                                    <figure>
                                                        <img class="figure-img img-fluid" src="{% static '/images/Olga_freschi.png' %}"alt="Foto Olga_freschi">
                                                        <figcaption class="figure-caption fs-5 fw-bolder lh-1 font-family-Assistant text-center" style="color: #00030c">  Olga Freschi</figcaption>   
                                                    </figure>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>
                <br><br><!--QUE HACEMOS-->
                <article class="container-fluid">
                <h2 id="que-hacemos"class="fw-bolder lh-base font-family-Assistant text-center" style="color: #00030c">¿Qué Hacemos?</h2><br>
                    <p class="fs-5 fw-semibold lh-base font-family-Assistant text-start" style="color: #00030c">
                    Nuestro objetivo es identificar, valorar, proteger y difundir el Patrimonio Cultural y Natural.<br>
                    Por ello, trabajamos sobre dos pilares fundamentales: La Reconstruccion de la Memoria y La Participación Ciudadana. <br>
                    Realizamos actividades de Difusión para que conozcan Nuestra Historia, Cultura e Identidad por distintos medios: TV, Radio, Diarios, Revistas Locales y Provinciales.<br>
                    Además, realizamos Muestras Fotográficas, Bicicleteadas recorriendo aquellos lugares de relevancia histórica del pueblo,<br> Charlas en las escuelas, Teatro, Radioteatro, Espectáculos coral, Realización de Murales, Programas de Radio, Publicación de Libros, etc.
                    </p>
                </article>
                <br><br>
                <article >
                <div>
                    <table  class="table container">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <div class="d-flex-justify-content-between w-100-px p-3">
                                        <figure class="figure">
                                            <img class="figure-img img-fluid rounded"src="{% static '/images/obrateatral.jpg' %}" alt="Foto Obras Teatrales">
                                            <figcaption class="figure-caption fs-5 fw-bolder lh-1 font-family-Assistant text-center" style="color: #00030c">Obras Teatrales</figcaption>
                                        </figure>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="d-flex-justify-content-between w-100-px p-3">
                                        <figure class="figure">
                                            <img class="figure-img img-fluid rounded"src="{% static '/images/muestras.jpg' %}" alt="Foto Muestras Fotográficas">
                                            <figcaption class="figure-caption fs-5 fw-bolder lh-1 font-family-Assistant text-center" style="color: #00030c">Muestras Fotográficas</figcaption>
                                        </figure>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="d-flex-justify-content-between w-100-px p-3"></div>
                                        <figure class="figure">
                                            <img class="figure-img img-fluid rounded"src="{% static '/images/recorridos.jpg' %}" alt="Foto Recorridos por Sitios Históricos">
                                            <figcaption class="figure-caption fs-5 fw-bolder lh-1 font-family-Assistant text-center" style="color: #00030c">Recorridos por Sitios Históricos</figcaption>
                                        </figure>
                                </th>
                                <th scope="col">
                                    <div class="d-flex-justify-content-between w-100-px p-3">
                                        <figure class="figure">
                                            <img class="figure-img img-fluid rounded" src="{% static '/images/radio.jpg' %}" alt="Foto La Radio">
                                            <figcaption class="figure-caption fs-5 fw-bolder lh-1 font-family-Assistant text-center" style="color: #00030c">Programas de Radio</figcaption>
                                        </figure>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </article>
            <br><br><br><br><br><br>
            
        </section>
    </main>
{% endblock %}