{% extends 'base.html' %}
{% block contenido %}


<!--<main class="form-signin w-50 m-auto container">
<form>
    
    <h1 class="h3 mb-1   fw-normal">Login</h1>

    <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-1 ">
        <label>
        <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-1 text-muted">&copy; 2017–2022</p>
    </form>
</main>-->

   
<main class="form-signin w-50 m-auto container">

{%if form.errors %}
    {% for field in form%}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error | escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    

        <div class="alert alert-danger w-100 container-fluid">
                <strong>{{ error | escape }}</strong>
        </div>
    

    

    {%endfor%}
{%endif%}
    <form action="" method="POST" class="form-signin container">
    {% csrf_token %}
    
    
    <h1 class="h3 mb-3 font-weight-normal" style="text-align:center">Login</h1>
    <label for="id_username" class='sr-only'>Usuario</label>
    <input type="text" class="form-control" id="id_username" name="username" placeholder="Usuario" required autofocus>
    <label for="id_password" class='sr-only'>Contrasena</label>
    <input type="password" class="form-control" id="id_password" name="password" placeholder="Contrasena" required>
    
    <button type="submit" class=" text-white btn btn-lg  w-100" style="background-color: #0E2C40">Iniciar Sesion</button>

</form>



</main>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>


{%endblock%}   